---
title: Selector Support Queries
demo: fallback-selector
styles:
  - demo2.css
---

<h1>
  {{ title }}
</h1>

<main>
  <h2><code>@supports selector(::marker)</code></h2>
  <ol>
    <li class="basic-support">All <code>font</code> properties</li>
    <li class="basic-support"><code>color</code></li>
    <li><code>content</code></li>
    <li><code>text-combine-upright</code></li>
    <li><code>direction</code></li>
    <li><code>unicode-bidi</code></li>
  </ol>
</main>
