{% import "site/contact.macros.njk" as contact %}
{% import "site/ccs.macros.njk" as colors %}

{% macro banner(page, site) %}
  <header role="banner">
    <strong>
      <a href="/" rel="home">{{ site.domain }}</a>
      {%- if page.data.home -%}<a href="{{ page.data.home }}">{{ page.data.home }}</a>{%- endif -%}
      <span>{{ page.url | replace(page.data.home, '') if page.data.home else page.url }}</span>
    </strong>
    <nav data-nav="external" aria-label="external">
      <ul>
        <li>
          <a href="https://twitter.com/TerribleMia">@TerribleMia</a>
        </li>
        <li>
          <a href="https://oddbird.net">OddBird</a>
        </li>
      </ul>
    </nav>
  </header>
{% endmacro %}

{% macro footer(ccs, url) %}
  <footer role="contentinfo">
    {{ contact.form(url=url) }}
    {{ colors.form(ccs) }}
  </footer>
{% endmacro %}
