figure {
  /* border-radius: 1em; */
  overflow: hidden;
}

::marker {
  color: rebeccapurple;
}

img {
  float: left;
  min-width: 200px;
  width: 33%;
  /* shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.fosse img {
  float: right;
}

a:link,
a:visited {
  /* text-decoration-color: white; */
  /* text-decoration-thickness: 0.5em; */
  /* text-underline-offset: -0.25em; */
}

html {
  /* scroll-snap-type: block mandatory; */
  /* scroll-padding: 1em; */
}

figure {
  /* scroll-snap-align: start; */
  /* scroll-margin: 1em; */
}
