---
title: No Fallback Needed
demo: fallback-none
todo:
  - responsive fonts
  - marker
  - scroll snap
  - text-decoration
  - clip-path / shape-outside
  - filter / backdrop-filter
  - background-blend-mode
---

<figure class="verdon">
  <img src="{{ assets.images }}rad/GwenVerdon.jpg" alt="Gwen Verdon on a stool">
  <figcaption>
    <strong><a href="#">Gwyneth Evelyn "Gwen" Verdon</a></strong>
    (January 13, 1925 – October 18, 2000).
    <ul>
      <li>
        She was an American <a href="#">actress</a> and <a href="#">dancer</a>
      </li>
      <li>
        She won four Tony Awards for her musical comedy performances
      </li>
      <li>
        She served as an uncredited choreographer's assistant
        <a href="#">specialty dance coach for theater and film</a>
      </li>
    </ul>
    With flaming red hair and a quaver in her voice,
    Verdon was a critically acclaimed performer on Broadway in the 1950s,
    1960s, and 1970s.
  </figcaption>
</figure>

<figure class="fosse">
  <img src="{{ assets.images }}rad/BobFosse.jpg" alt="Bob Fosse doing jazz hands">
  <figcaption>
    <strong><a href="#">"Not" Gwen Verdon</a></strong>
    (June 23, 1927 – September 23, 1987)
    was an American dancer, musical-theatre choreographer,
    and theatre and film director.
    He directed and choreographed musical works on stage and screen,
    including the stage musicals The Pajama Game (choreography)
    in 1954 and Chicago in 1975 and the film Cabaret in 1972.
    Fosse's distinctive style of choreography
    included turned-in knees and "jazz hands."
    He is the only person ever to have won Oscar, Emmy,
    and Tony awards in the same year (1973).
  </figcaption>
</figure>

<figure class="verdon">
  <img src="{{ assets.images }}rad/GwenVerdon.jpg" alt="Gwen Verdon on a stool">
  <figcaption>
    <strong><a href="#">Gwyneth Evelyn "Gwen" Verdon</a></strong>
    (January 13, 1925 – October 18, 2000)
    was an American <a href="#">actress</a> and <a href="#">dancer</a>.
    She won four Tony Awards for her musical comedy performances,
    and served as an uncredited choreographer's assistant
    and <a href="#">specialty dance coach for theater and film</a>.
    With flaming red hair and a quaver in her voice,
    Verdon was a critically acclaimed performer on Broadway in the 1950s,
    1960s, and 1970s.
  </figcaption>
</figure>

<figure class="fosse">
  <img src="{{ assets.images }}rad/BobFosse.jpg" alt="Bob Fosse doing jazz hands">
  <figcaption>
    <strong><a href="#">"Not" Gwen Verdon</a></strong>
    (June 23, 1927 – September 23, 1987)
    was an American dancer, musical-theatre choreographer,
    and theatre and film director.
    He directed and choreographed musical works on stage and screen,
    including the stage musicals The Pajama Game (choreography)
    in 1954 and Chicago in 1975 and the film Cabaret in 1972.
    Fosse's distinctive style of choreography
    included turned-in knees and "jazz hands."
    He is the only person ever to have won Oscar, Emmy,
    and Tony awards in the same year (1973).
  </figcaption>
</figure>
