---
demo: grid-implicit
title: Implicit Grids
---

<header>
  <h1>{{ title }}</h1>
  <p>How do they work?</p>
</header>

<div class="a">a</div>
<div class="b">b</div>
<div class="c">c</div>
<div class="d">d</div>
<div class="e">e</div>
