---
layout: page
index: variables cascade
home: false
---

CSS Custom Properties (aka Cascading Variables)
have gained broad browser support since 2015 --
but what are they good for, and why do we need them?

[Links & Resources »](resources/)

------
