{% import "utility.macros.njk" as utility %}

{% macro talks(pages, talk_titles) %}
{% if pages | length > 0 %}
  <section data-events='talks'>
  {% for event in pages | sortPages %}
    <article class="event">
      <p>
        <time>
          {{ event.date | getDate('short') }}
        </time>
        {% if talk_titles %}
          <span class="event-talk">
            {{ event.data.talk | mdInline | safe }}
          </span>
        {% endif %}
      </p>
      <h2>
        {{ utility.link_if(
          event.data.venue,
          event.url if event | isPublic else none
        ) }}
      </h2>
    </article>
  {% endfor %}
  </section>
{% else %}
   <p>No events currently available…</p>
{% endif %}
{% endmacro %}

{% macro workshop_talks(pages) %}
{% if pages | length > 0 %}
  <section data-events='workshop-talks'>
    {% for date, events in pages | sortPages | groupby('date') %}
      <article class="workshop">
        <h2>
          {{ date | getDate('short') }}
        </h2>
        <ol>
          {% for event in events %}
            <li>
              {{ utility.link_if(
                event.data.talk | mdInline | safe,
                event.url if event | isPublic else none
              ) }}
            </li>
          {% endfor %}
        </ol>
      </article>
    {% endfor %}
  </section>
{% else %}
   <p>More details soon…</p>
{% endif %}
{% endmacro %}

{% macro workshop_venues(pages) %}
{% if pages | length > 0 %}
  <section data-events='workshop-venues'>
  {% for event in pages | sort(true, false, 'date') %}
    <article class="event">
      <time>
        {{ event.date | getDate('short') }}
      </time>
      <h2>
        {{ utility.link_if(
          event.data.title,
          event.url if event | isPublic else none
        ) }}
      </h2>
    </article>
  {% endfor %}
  </section>
{% else %}
   <p>No events currently available…</p>
{% endif %}{% endmacro %}
