{% import "slides/intro.macros.njk" as intro %}
{% import "slides/core.macros.njk" as core %}
{% import "slides/itcss.macros.njk" as itcss %}

{% set get = {
  'intro': intro,
  'core': core,
  'itcss': itcss
} %}

{% macro slides(
  page,
  collections
) %}
  {% for slide in page.data.slides %}
    {% set slide = slide | slideData(loop.index, page) %}
    {% set source = get[slide.from] if slide.from else none %}
    {% if source and source[slide.use] %}
      {{ source[slide.use](slide, page) }}
    {% else %}
      {{ core.find(slide, page, collections) }}
    {% endif %}
  {% endfor %}
{% endmacro %}
