{% import "slides/intro.macros.njk" as intro %}
{% import "slides/core.macros.njk" as core %}

{% set get = {
  'intro': intro,
  'core': core
} %}

{% macro slides(
  page
) %}
  {% for slide in page.data.slides %}
    {% set slide = slide | slideData(loop.index, page) %}
    {% set source = get[slide.from] if slide.from else none %}
    {% if source %}
      {{ source[slide.use](slide, page) }}
    {% else %}
      {{ core.find(slide, page) }}
    {% endif %}
  {% endfor %}
{% endmacro %}
