{% import "slides/auto.macros.njk" as auto %}
{% import "slides/intro.macros.njk" as intro %}
{% import "slides/core.macros.njk" as core %}
{% import "slides/itcss.macros.njk" as itcss %}
{% import "slides/sales.macros.njk" as sales %}

{% set get = {
  'auto': auto,
  'intro': intro,
  'core': core,
  'itcss': itcss
} %}

{% macro slides(
  page,
  collections
) %}
  {% for slide in page.data.slides %}
    {% set slide = page.data.known[slide.known] | merge(slide) if slide.known else slide %}
    {% set slide = slide | merge({'index': loop.index}) %}
    {% set source = get[slide.from] if slide.from else none %}
    {% if source and source[slide.use] %}
      {{ source[slide.use](slide, page) }}
    {% else %}
      {{ core.find(slide, page, collections) }}
    {% endif %}
  {% endfor %}
{% endmacro %}
