{% import "utility.macros.njk" as utility %}

{% macro controls() %}
  <details class="slide-controls">
    <summary class="dropdown-summary">View Options</summary>
    <ul data-dropdown="pad top right list">
      <li>
        <button data-btn="small" data-toggle="presenting" aria-pressed="false">
          Present
        </button>
        using arrow keys to move
      </li>

      <li>
        <button data-btn="small" data-toggle="grid" aria-pressed="false">
          Speaker view
        </button>
        with notes
      </li>

      <li>
        <button data-btn="small" data-toggle="follow" aria-pressed="false">
          Follow
        </button>
        position from another tab
      </li>

      <li>
        <button data-ccs-input="mode" data-btn="small" type="button">
          Invert colors
        </button>
        or <a href="#ccs-menu">adjust manually</a>
      </li>
    </ul>
  </details>
{% endmacro %}

{% macro title(
  slide,
  class=none
) %}
  {% if slide.title %}
    <h2 {{ utility.attr_if('class', class) }}>
      {% if slide.pre -%}
        <span class="pre">{{ slide.pre | string | mdInline | safe }}</span>
      {%- endif %}
      {{ slide.title | mdInline | safe }}
    </h2>
  {% elif slide.pre %}
    <h3 {{ utility.attr_if('class', [class, 'pre'] | join(' ')) }}>
      {{ slide.pre | string | mdInline | safe }}
    </h3>
  {% endif %}

  {% if slide.sub %}
    <p class="subtitle">{{ slide.sub | mdInline | safe }}</p>
  {% endif %}
{% endmacro %}

{% macro nav(
  index,
  count
) %}
  {% set count = count + 1 %}
  <nav class="slide-nav" aria-label="slide {{ index }}">
    {% if index > 0 %}
      <a href="#slide-{{ index - 1 }}" data-to="prev">«<span class="visually-hidden">
        back to slide {{ index - 1 }}
      </span></a>
    {% endif %}
    <a href="#slide-{{ index }}" class="current"><span class="visually-hidden">
        this is slide
      </span>
      {{- index -}}/{{- count -}}
    </a>
    {% if index != count %}
      <a href="#slide-{{ index + 1 }}" data-to="next">»<span class="visually-hidden">
        on to slide {{ index + 1 }}
      </span></a>
    {% endif %}
  </nav>
{% endmacro %}

{% macro base(
  slide,
  name,
  page,
  styles=none,
  is='article',
  class=none,
  attrs={}
) %}
  {% set autoStyles = {
    '--resize': slide.resize,
    '--slide-background': slide.background,
    '--slide-color': slide.color
  } %}
  {% set styles = (autoStyles | merge(styles)) | merge(slide.style) %}
  {% set attrs = attrs | merge({'data-ccs-colors': slide.mode}) if slide.mode else attrs %}
  {% set attrs = attrs | merge(slide.attrs) %}
  {% set class = ['slide', class, attrs.class] | compact | join(' ') %}
  {% set attrs = attrs | merge({'class': class}) %}
  <{{ is }} id="slide-{{ slide.index }}">
    <div
      data-slide="{{ slide.name or name }}"
      {{ utility.show_attrs(attrs) }}
      {{ utility.style_if(styles) if styles else '' }}
    >
      <div
        class="slide-content"
        {{ utility.attr_if('data-resize', slide.resize) }}>
        {{ caller() }}
      </div>

      <footer class="slide-footer">
        {% if slide.controls %}
          {{ controls() }}
        {% elif slide.caption or slide.demoLinks %}
          <div class="slide-caption">
            {{ slide.caption | mdInline | safe }}
            <span class="demo-links">{{ slide.demoLinks | mdInline | safe }}</span>
          </div>
        {% else %}
          <div><!-- a spacer? really? --></div>
        {% endif %}

        {{ nav(
          index=slide.index,
          count=page.data.slides | length
        ) }}
      </footer>
    </div>

    {% if slide.script %}
      <div class="slide-notes">
        {{ slide.script | md | safe }}
      </div>
    {% endif %}
  </{{ is or 'article'}}>
{% endmacro %}
