{% macro nav(
  index,
  count
) %}
  <nav class="slide-nav" aria-label="slide {{ index }}">
    {% if index > 0 %}
      <a href="#slide-{{ index - 1 }}">«<span class="sr-only">
        back to slide {{ index - 1 }}
      </span></a>
    {% endif %}
    <a href="#slide-{{ index }}" class="current"><span class="sr-only">
        this is slide
      </span>
      {{- index -}}/{{- count -}}
    </a>
    {% if index != count %}
      <a href="#slide-{{ index + 1 }}">»<span class="sr-only">
        on to slide {{ index + 1 }}
      </span></a>
    {% endif %}
  </nav>
{% endmacro %}

{% macro base(
  slide,
  name,
  page,
  is='article'
) %}
  <{{ is or 'article'}}
    id="slide-{{ slide.index }}"
    data-slide="{{ slide.name or name }}"
    >

    <div class="slide-content">
      {{ caller() }}
    </div>

    <footer class="slide-footer">
      <p class="slide-caption">
        {% if slide.caption %}
          {{ slide.caption | mdInline | safe }}
        {% endif %}
      </p>

      {{ nav(
        index=slide.index,
        count=page.data.slides | length
      ) }}
    </footer>
  </{{ is or 'article'}}>
{% endmacro %}
