---
title: Subgrid Cards
demo: subgrid-cards
---

<h1>{{ title }}</h1>

<article class="card same">
  <header class="card-header">
    <h2>Article Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor itaque, vitae dicta autem sunt nesciunt atque nulla? Consectetur adipisci illum ipsa reprehenderit deleniti quia qui aliquid tempora ea accusamus. Quibusdam.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Miriam Suzanne</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card same">
  <header class="card-header">
    <h2>Article Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor itaque, vitae dicta autem sunt nesciunt atque nulla? Consectetur adipisci illum ipsa reprehenderit deleniti quia qui aliquid tempora ea accusamus. Quibusdam.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Miriam Suzanne</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card same">
  <header class="card-header">
    <h2>Article Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor itaque, vitae dicta autem sunt nesciunt atque nulla? Consectetur adipisci illum ipsa reprehenderit deleniti quia qui aliquid tempora ea accusamus. Quibusdam.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Miriam Suzanne</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card same">
  <header class="card-header">
    <h2>Article Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor itaque, vitae dicta autem sunt nesciunt atque nulla? Consectetur adipisci illum ipsa reprehenderit deleniti quia qui aliquid tempora ea accusamus. Quibusdam.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Miriam Suzanne</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card diff">
  <header class="card-header">
    <h2>What if We Have a Much Longer Article Title?</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet, tempore error maxime praesentium eos, nam hic illo officiis id eius obcaecati fugiat perferendis culpa necessitatibus recusandae quod esse. Molestias.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Jen "Boss" Simmons</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card diff">
  <header class="card-header">
    <h2>Article Titles Aren't Consistent</h2>
  </header>
  <div class="card-body">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi molestiae autem saepe libero assumenda dolorum quae laboriosam aliquam magni sint, voluptates officia dignissimos a incidunt, unde suscipit fugiat illum optio.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Deja "Empathic Dev" Hodge</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card diff">
  <header class="card-header">
    <h2>This Article Title Will Need to be Fixed in Post-Production With a Much Shorter and Catchier Click-Bait Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi molestiae autem saepe libero assumenda dolorum quae laboriosam aliquam magni sint, voluptates officia dignissimos a incidunt, unde suscipit fugiat illum optio.</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Ryanne "Fix It In Post" Hodson</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>

<article class="card diff">
  <header class="card-header">
    <h2>Short Title</h2>
  </header>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae voluptatem repellat ad accusamus, ut nostrum saepe, cumque fuga excepturi facere modi, necessitatibus ipsam rem? Optio enim maxime repellat illo!</p>
  </div>
  <p class="byline">
    <span>
      by <a href="#">Jay "Do It" Dedman</a>
    </span>
  </p>
  <button class="love">
    love it
  </button>
</article>
