@use '~accoutrement/sass/tools';
@use '../config/patterns';
@use '../config/fonts';

/// # Heading Defaults
/// Initial global defaults for heading elements…
/// @group headings

// All headings
// ------------
/// all headings have bottom-margin removed
/// and heading-links inherit the heading color
/// @group headings
h1,
h2,
h3,
h4,
h5,
h6 {
  --link: currentColor;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: var(--newline);
}

h1,
h2 {
  @include fonts.var('extra');
  line-height: 1.2;

  strong {
    @include fonts.var('extra');
  }

  .pre,
  i,
  code,
  em {
    @include fonts.var('light');
  }

  .pre,
  i {
    @include fonts.var('italic');
  }

  .pre {
    display: block;
  }
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  @include fonts.var('bold' 'fun');
  font-size: var(--h3);

  &.pre {
    @include fonts.var('light' 'italic');
  }
}

h4 {
  font-size: var(--h4);
}
