---
title: Miriam Suzanne
banner: '[ Miriam | **Mia** ] Suzanne?'
css: demo
---

<ul class="logos">
  <li class="brand oddbird">
    <a href="https://oddbird.net">
      {% include "logos/oddbird.svg" %}
    </a>
  </li>
  <li class="brand sass">
    <a href="https://sass-lang.com/">
      {% include "logos/sass.svg" %}
    </a>
  </li>
  <li class="brand mozilla">
    <a href="https://youtube.com/MozillaDeveloper">
      {% include "logos/mozilla.svg" %}
    </a>
  </li>
</ul>

<code><- nerd</code>
