---
demo: grid-quickstart
title: Quick Layout with CSS Grid
---

<h1>{{ title }}</h1>
<nav>
  <ul>
    <li><a href="#">nav 1</a></li>
    <li><a href="#">nav 2</a></li>
    <li><a href="#">nav 3</a></li>
    <li><a href="#">nav 4</a></li>
  </ul>
</nav>
<main>
  <h2>main</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia numquam ullam a cumque. Possimus dignissimos ut optio nisi cupiditate, ad recusandae deleniti impedit saepe iusto deserunt illo dolores quasi ullam.</p>
</main>
<footer>footer</footer>
