
p {
  border: 2px solid;
  font-size: calc(1.5em + 6vw);
  line-height: 1;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  width: 3.125em;
}

strong {
  color: maroon;
  display: block;
  font-weight: normal;
}

strong:focus {
  text-decoration: underline;
  outline: 0;
}
