---
demo: logical-props
title: Logical Dimentions & Properties
---

<h1>{{ title }}</h1>

<main>
<article class="physical">
  <h2>Physical</h2>
  <code class="top">top</code>
  <code class="bottom">bottom</code>
  <code class="left">left</code>
  <code class="right">right</code>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</article>

<article class="logical">
  <h2>Logical</h2>
  <code class="block-start">block-start</code>
  <code class="block-end">block-end</code>
  <code class="inline-start">inline-start</code>
  <code class="inline-end">inline-end</code>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</article>
</main>
