---
layout: page
title: OddBird Slides
---
{% import "utility.macros.njk" as utility %}

<section data-events="talks">
<h2>Talks:</h2>

{% for talk in collections.talks | sortPages -%}
<article class="event">
  <p>
  <time datetime="{{ talk.start | getDate('iso') }}">
    {{- talk.start | getDate('range') -}}
  </time>
  {%- if talk.start != talk.end -%}
    {{- '–' -}}
    <time datetime="{{ talk.end | getDate('iso') }}">
      {{- talk.end | getDate('range') -}}
    </time>
  {% endif %}
  </p>

  <h3>
    {{ utility.link_if(
      talk.title,
      talk.home.url
    )}}
  </h3>

  {% if talk.aka %}
    {% set comma = joiner() %}
    <p>(aka
      {%- for item in talk.aka -%}
        {{- comma() }}
        {{ utility.link_if(
          item,
          talk.home.url
        ) -}}
      {%- endfor -%}
    )</p>
  {% endif %}
</article>
{% endfor %}
</section>


<section data-events="talks">
<h2>Workshops:</h2>

{% for item in collections.workshop | withData('data.index') | reverse -%}
<article class="event">
  <p>
    <time datetime="{{ item.date | getDate('iso') }}">
      {{- item.date | getDate('range') -}}
    </time>
    at
    <strong>{{ item.data.venue }}</strong>
  </p>

  <h3>
    {{ utility.link_if(
      item.data.workshop,
      item.url
    )}}
  </h3>
</article>
{%- endfor %}
</section>
