---
layout: base
title: Sliiides…
---

<main class="home">
  <h1>{{ title }}</h1>

  <ul>
  {% for event in collections.events %}
    <li>
      <a href="{{ event.url }}">
        <strong>
          {{ event.date | getDate('short') }} |
        </strong>
        {{ event.data.talk }}: {{ event.data.venue }}
      </a>
    </li>
  {% endfor %}
  </ul>
</main>
