---
layout: base
title: Hello World
---

<h1>{{ title }}</h1>

{% for group, items in talks | groupby('talk') %}
{% if items %}
<h2>{{ group }}</h2>
<ul>
  {% for item in items %}
  <li>
    <h3>{{ item.data.event | mdInline | safe }} ({{ item.slides | length }})</h3>
    {{ item.content | md | safe }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
