---
demo: pendulum-length
title: Pendulum Length from Time
---

<math dislay="block" xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle \ell ={\frac {g}{\pi ^{2}}}{\frac {T_{0}^{2}}{4}}.}">
  <semantics>
    <mrow class="MJX-TeXAtom-ORD">
      <mstyle displaystyle="true" scriptlevel="0">
        <mi>ℓ<!-- ℓ --></mi>
        <mo>=</mo>
        <mrow class="MJX-TeXAtom-ORD">
          <mfrac>
            <msup>
              <mi>T</mi>
              <mrow class="MJX-TeXAtom-ORD">
                <mn>2</mn>
              </mrow>
            </msup>
            <mn>4</mn>
          </mfrac>
        </mrow>
        <mo>.</mo>
        <mrow class="MJX-TeXAtom-ORD">
          <mfrac>
            <mi>g</mi>
            <msup>
              <mi>π<!-- π --></mi>
              <mrow class="MJX-TeXAtom-ORD">
                <mn>2</mn>
              </mrow>
            </msup>
          </mfrac>
        </mrow>
      </mstyle>
    </mrow>
    <annotation encoding="application/x-tex">{\displaystyle \ell ={\frac {g}{\pi ^{2}}}{\frac {T_{0}^{2}}{4}}.}</annotation>
  </semantics>
</math>
