---
layout: page
index: css-next
home: false
---

Over the last decade Object-Oriented & Responsive design
have become the norm --
with tools like Flexbox, Grid, intrinsic sizing,
and aspect-ratio giving us even more layout control.
Now several new CSS proposals like Container Queries,
Cascade Layers, Scoped Styles, and Nesting
are all aimed at improving
the way we write responsive components and design systems.

[Container Query Resources »](cq-resources/)

------
