body {
  display: flex;
  gap: 1em;
}

img {
  flex: initial;
}

body {
  place-content: safe center;
  place-items: safe center;
}

/* layout */
body {
  min-height: 100vh;
}

img {
  border: medium solid rebeccapurple;
  border-radius: 0.125em;
}
