---
demo: box-align
title: Box Alignment
---

<img src="{{ assets.images }}_people/jensimmons.jpg" width="800" height="1050" alt="Jen Simmons">
<img src="{{ assets.images }}_people/leaverou.jpg" width="1080" height="1350" alt="Lea Verou">
<img src="{{ assets.images }}_people/rachelandrew.jpg" width="1000" height="875" alt="Rachel Andrew">
