[data-slide~='iframe'] {
  --align: stretch;
  --justify: stretch;
  --padding: 0;
  --width: 100%;

  iframe {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

[data-slide~='codepen'] {
  .cp_embed_wrapper {
    display: contents;

    @media print {
      display: none;
    }
  }

  .slide-content {
    background-image: var(--print);
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
  }
}
