[data-slide~='iframe'] {
  --align: stretch;
  --justify: stretch;
  --padding: 0;
  --width: 100%;

  .slide-content {
    background: white;
    color: black;
  }

  iframe {
    --frame-size: calc(100% / var(--frame-zoom, 1));
    height: var(--frame-size, 100%);
    margin: 0;
    width: var(--frame-size, 100%);
    transform-origin: 0 0;
    transform: scale(var(--frame-zoom, 1));

    @media print {
      height: 100%;
      width: 100%;
      transform: none;
    }
  }
}

[data-slide~='codepen'] {
  .cp_embed_wrapper {
    display: contents;

    @media print {
      display: none;
    }
  }

  .slide-content {
    background-image: var(--print);
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
  }
}
