[data-slide='demo'],
[data-slide='iframe'],
[data-slide='codepen'] {
  --align: stretch;
  --justify: stretch;
  --padding: 0;
  --width: 100%;

  iframe {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}
