[data-slide='img'] .slide-content {
  --align: stretch;
  --justify: stretch;
  --padding: 0;
  --width: 100%;
  display: flex;
  flex-direction: column;

  img {
    flex: 1 1 50vh;
    overflow: hidden;
    object-fit: var(--img-fit, cover);
    object-position: var(--img-position, center);
    width: 100%;
  }
}
