[data-slide='img'] {
  --align: stretch;
  --justify: stretch;
  --padding: var(--gutter-plus) 0 0;
  --width: 100%;

  .slide-content {
    display: flex;
    flex-direction: column;
  }

  img {
    flex: 1 1 50vh;
    overflow: hidden;
    object-fit: var(--img-fit, cover);
    object-position: var(--img-position, center);
    width: 100%;
  }
}
