[data-slide~='img'] {
  --align: stretch;
  --justify: stretch;
  --padding: 0;
  --width: 100%;

  .slide-content {
    display: flex;
    flex-direction: column;
  }

  img {
    overflow: hidden;
    object-fit: var(--img-fit, cover);
    object-position: var(--img-position, center);
    width: 100%;

    @supports (object-fit: cover) {
      flex: 1 1 15vh;
    }
  }
}
