[data-slide='intro-oss'] {
  --align: stretch;
  --justify: stretch;

  a::after {
    content: none;
  }

  .oss-logos {
    align-content: safe center;
    align-items: safe center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, var(--grid-item)));
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
  }
}
