/* User Font Size */
html {
  font-size: 1em;
}

/* Author Font Size */
html {
  /* font-size: 3em; */
}

/* Weighted average */
html {
  /* sizes */
  --user-size: 1em;
  --author-size: 3em;

  /* weight */
  --user-weight: 60;

  /* math… */
  --author-weight: calc(100 - var(--user-weight));
  --author: calc(var(--author-size, 1em) * var(--author-weight));
  --user: calc(var(--user-size) * var(--user-weight));
  --average: calc((var(--author) + var(--user)) / 100);

  /* find the average… */
  /* font-size: var(--average, 1em); */
}
