---
css: demo
title: No Fallback Needed
back: mayiuse
---

<figure class="verdon">
  <img src="/assets/images/GwenVerdon.jpg" alt="Gwen Verdon on a stool">
  <figcaption>
    <strong><a href="#">Gwyneth Evelyn "Gwen" Verdon</a></strong>
    (January 13, 1925 – October 18, 2000)
    was an American <a href="#">actress</a> and <a href="#">dancer</a>.
    She won four Tony Awards for her musical comedy performances,
    and served as an uncredited choreographer's assistant
    and <a href="#">specialty dance coach for theater and film</a>.
    With flaming red hair and a quaver in her voice,
    Verdon was a critically acclaimed performer on Broadway in the 1950s,
    1960s, and 1970s.
  </figcaption>
</figure>
