@what about (this: fake code I) {
  made-up :: that's not valid at all?
}

html {
  background: rebeccapurple;
  beep: boop;
  color: white;
  color: color(display-p3 0.9975 0.7295 0.8147);
  color: fake;
}
