figure {
  border-radius: 1em;
  overflow: hidden;
}

img {
  float: left;
  min-width: 200px;
  width: 33%;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.fosse img {
  float: right;
}

a:link,
a:visited {
  text-decoration-color: rebeccapurple;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;

  /* text-decoration-skip-ink: none; */
  transition: text-decoration 300ms ease-in-out,
    text-underline-offset 300ms ease-in-out, color 300ms ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration-thickness: 0.2em;

  /* text-decoration-thickness: 1.1em; */
  /* text-underline-offset: -1em; */
  /* color: white; */
}

main {
  /* scroll-snap-type: y; */
  /* scroll-padding: 1em; */
}

figure {
  /* scroll-snap-align: start; */
  /* scroll-margin: 1em; */
}

/* layout */
figure {
  align-content: start;
  border: 1px solid maroon;
}

.verdon {
  background: #a8a8a8;
}

.fosse {
  background: #f2f2f2;
}

figcaption {
  padding: var(--gap);
}
