---
layout: page
index: mixins-functions
home: false
---

Sass has inspired new developments in CSS for over a decade --
from variables to nesting,
and now author-defined CSS mixins and functions.
As these features make the jump from Sass to CSS,
they tend to change in significant ways.

So what can we do with CSS functions and mixins,
how will they be different from the Sass tools that inspired them,
how can you help in the spec process,
and what other features might this open up in the future?
Is this finally a death blow for CSS pre-processors?
(No, but let’s talk about it anyway!)

------
