body > * {
  /* margin-bottom: 1em; */
}

@media (min-width: 40em) {
  nav {
    /* float: left; */
    /* width: 14em; */
    /* margin-right: 1em; */
  }

  main {
    /* overflow: hidden; */
  }
}

body {
  /* min-height: 100vh; */
  /* display: grid; */
  /* grid-gap: 1em; */
  /* grid: 'header' auto
        'nav' auto
        'main' 1fr
        'footer' auto
      / 1fr; */
}

/* @media (min-width: 40em) {
  body {
    grid: 'header header' auto
          'nav main' 1fr
          'nav footer' auto
        / 12em 1fr;
  }
} */

/* header { grid-area: header; } */
/* nav { grid-area: nav; } */
/* main { grid-area: main; } */
/* footer { grid-area: footer; } */

h2 {
  /* background: linear-gradient(to bottom, rebeccapurple, darkorange); */
  /* background-clip: text; */
  /* color: transparent; */
  /* box-decoration-break: clone; */
}

/* @supports (background-clip: text) {
  h2 {
  }
} */

header,
nav,
main,
footer {
  outline: 2px dotted;
  padding: 1em;
}
