---
title: Responsive Hero Area
demo: fallback-hero
---

<header>
  <h1>{{ title }}</h1>
</header>

<main>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
  <p>Pariatur, itaque at. Minus sed odit dolorem, nemo asperiores unde repellendus natus quibusdam, id repellat cupiditate. Consectetur magni minus distinctio nam eum.</p>
</main>
