---
demo: vars-basic
title: Intro to Custom Properties
---

<main>
  <h1>{{ title }}</h1>

  <button type="button">default</button>
  <button type="button" disabled>disabled</button>
  <button type="button" class="warn">warn</button>
  <button type="button" class="go">go</button>
  <button type="button" class="warn" disabled>warn disabled</button>
  <button type="button" class="go" disabled>go disabled</button>
</main>

<footer class="box invert">
  <button type="button">default</button>
  <button type="button" disabled>disabled</button>
  <button type="button" class="warn">warn</button>
  <button type="button" class="go">go</button>
  <button type="button" class="warn" disabled>warn disabled</button>
  <button type="button" class="go" disabled>go disabled</button>
</footer>
