<!DOCTYPE html>
<html lang="en"
  data-ccs="root"
  data-ccs-theme="{{ site.themes[0] }}"
  data-ccs-colors>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title or [talk, venue] | join(' at ') or 'Slides...' }}</title>

  {% for style in site.styles | concat(page.data.styles) %}
    <link rel="stylesheet" href="{{ assets.css + style }}">
  {% endfor %}
</head>
<body data-body="{{ layout or 'base' }}">
  <header role="banner">
    <strong>
      <a href="/" rel="home">{{ site.domain }}</a><span>{{ page.url }}</span>
    </strong>
    <nav data-nav="external" aria-label="external">
      <ul>
        <li>
          <a href="https://twitter.com/mirisuzanne">@MiriSuzanne</a>
        </li>
        <li>
          <a href="https://oddbird.net">OddBird</a>
        </li>
      </ul>
    </nav>
  </header>
  {{ content | safe }}
</body>
</html>
