<!DOCTYPE html>
<html lang="en"
  {% block htmlAttrs %}
  data-ccs="root"
  data-ccs-theme="{{ ccs.themes[0] }}"
  data-ccs-colors
  {% endblock %}>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ description or site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ meta_title or title or 'OddBird Slides' }}</title>

  {% for style in (styles or site.styles) %}
    {% set style = style if ('.css' in style) else [assets.css, style, '.css'] | join %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}
</head>
<body data-body="{{ layout or 'base' }}">
{% block body %}
  {% import "site/layout.macros.njk" as layout %}
  {% set page = collections.all | getPage(page.url) %}

  {{ layout.banner(page, site) }}
  {{ content | safe }}
  {{ layout.footer(ccs, page.url) }}

  <script type="text/javascript" src="{{ assets.js }}scripts.js"></script>
  {% for script in scripts %}
    <script type="text/javascript" src="{{ assets.js }}{{ script }}"></script>
  {% endfor %}
{% endblock %}
</body>
</html>
