---
layout: base
---

{%- import "events.macros.njk" as events -%}
{%- set tags = tags or [] -%}
{%- set talk_list = index and ('talk' in tags) -%}
{%- set ws_list = index and ('workshop' in tags) -%}
{%- set talkData = collections.talks | findPage('title', title) if talk_list else none -%}

<main class="page">
  <h1>{{ title }}</h1>
  {% if talkData.aka -%}
    {%- set comma = joiner() -%}
    <p>(aka {% for item in talkData.aka %}{{ comma() }} <em>{{ item }}</em>{% endfor %})</p>
  {%- endif %}

  {{ content | md | safe }}

  {% if talk_list %}
    {{ events.talks(talkData.decks | getVisible) }}
  {% endif %}

  {% if ws_list %}
    {% if venue %}
      {% set pages = collections[index] | withData('data.venue', venue) | withData('data.talk') | getVisible %}
      {{ events.workshop_talks(pages) }}
    {% else %}
      {% set pages = collections[index] | withData('data.venue', venue) | withData('data.index') | getVisible %}
      {{ events.workshop_venues(pages) }}
    {% endif %}
  {% endif %}
</main>
