---
layout: base
---

{% import "embed.macros.njk" as embed %}
{% import "show.macros.njk" as show %}
{% import "slides.macros.njk" as slides %}

{% set page = collections.all | getPage(page.url) %}

<main data-show="slides">
  {% call slides.base(
    slide={ 'index': 0 },
    name='event-title',
    page=page,
    is='header'
  ) %}
    <h1>
      {{ talk | mdInline | safe }}
      {% if sub %}
        <em>{{ sub | mdInline | safe }}</em>
      {% endif %}
    </h1>

    {% call embed.media_block(
      media=embed.svg('logos/oddbird'),
      name='title-detail'
    ) %}
      <div>
        <span class="byline h-card">
          {{ author or 'Miriam Suzanne' }}
        </span>
        @
        <strong class="event h-card">
          {{ venue | mdInline | safe }}
        </strong>
      </div>
      <time datetime="{{ date | getDate('iso') }}">
        {{ date | getDate('short') }}
      </time>
    {% endcall %}
  {% endcall %}

  {{ show.slides(page) }}
</main>
