---
layout: base
scripts:
  - slides.js
eleventyComputed:
  title: |
    {{ venue }}: {{ talk_title or talk }}
---

{% import "slides/auto.macros.njk" as auto %}
{% import "show.macros.njk" as show %}

{% set page = collections.all | getPage(page.url) %}

<main data-slides="{{ page.data.slides | length }}">
  {{ auto.title(page) }}
  {{ show.slides(page, collections) }}
  {{ auto.end(page) }}
</main>
