---
title: Stages of Squishyness
demo: grid-stages
styles:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css
---

<div class="demo">
  <!-- menu -->
  <nav>
    <div class="menu">
      <i class="fas fa-bars"></i>
      <i class="fas fa-caret-right"></i>
      Menu
    </div>
  </nav>

  <!-- socials -->
  <div class="social">
    <i class="fab fa-facebook-square">
      <span class="sr-only">facebook</span>
    </i>
    <i class="fab fa-twitter">
      <span class="sr-only">twitter</span>
    </i>
    <i class="fab fa-instagram">
      <span class="sr-only">instagram</span>
    </i>
  </div>

  <!-- secondary menu -->
  <nav class="secondary">
    <a class="current">shop</a>
    <a>list</a>
  </nav>


  <!-- main content -->
  <h1><b>Code</b> like no one's watching</h1>

  <main>
    <h2>Edit like everyone is</h2>
    <p>There are many ways to start using a new feature in CSS without waiting for full cross-browser support, but “feature queries” are the most clear and explicit. We can use them to test for browser support, and provide targeted styles only where they are supported. Now we can do the same with new selectors, like ::marker or :focus-visible!</p>
  </main>

  <img class="hero" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/150150/code.png">

  <!-- footer -->
  <footer>
    <p>Maybe a copyright or next section …</p>
  </footer>
</div>
