---
demo: pendulum-time
title: Pendulum Time from Length
---

<math dislay="block" xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle T_{0}=2\pi {\sqrt {\frac {\ell }{g}}}}">
  <semantics>
    <mrow class="MJX-TeXAtom-ORD">
      <mstyle displaystyle="true" scriptlevel="0">
        <mi>T</mi>
        <mo>=</mo>
        <mn>2</mn>
        <mi>π<!-- π --></mi>
        <mrow class="MJX-TeXAtom-ORD">
          <msqrt>
            <mfrac>
              <mi>ℓ<!-- ℓ --></mi>
              <mi>g</mi>
            </mfrac>
          </msqrt>
        </mrow>
      </mstyle>
    </mrow>
    <annotation encoding="application/x-tex">{\displaystyle T_{0}=2\pi {\sqrt {\frac {\ell }{g}}}}</annotation>
  </semantics>
</math>
