@use '../config/actions';
@use 'pkg:accoutrement/sass/tools';

.dropdown-summary {
  margin-right: auto;
  max-width: max-content;
  padding: var(--half-shim) var(--shim);

  &[aria-pressed='true'],
  [open] & {
    @include tools.z-index('popup');

    &::before {
      @include tools.z-index('backdrop');
      content: var(--auto-close, initial);
      inset: 0;
      position: fixed;
    }
  }
}

[data-dropdown] {
  @include tools.z-index('popup');
  --top: initial;
  --right: initial;
  --bottom: initial;
  --left: initial;
  background: var(--callout);
  bottom: var(--bottom);
  border: var(--border-width) solid var(--border);
  box-shadow: var(--box-shadow);
  display: none;
  gap: var(--shim);
  left: var(--left);
  max-height: calc(var(--rhythm) * 2 + 40vh);
  max-width: calc(100vw - var(--gutter) * 2);
  overflow-y: auto;
  position: absolute;
  right: var(--right);
  top: var(--top);
  width: 35ch;

  &[aria-expanded='true'],
  [open] & {
    display: grid;
  }
}

[data-dropdown~='top'] {
  --bottom: 100%;
}

[data-dropdown~='bottom'] {
  --top: 100%;
}

[data-dropdown~='left'] {
  --right: 0;
}

[data-dropdown~='right'] {
  --left: 0;
}

[data-dropdown~='auto-close'] {
  --auto-close: '';
}

[data-dropdown~='list'] {
  list-style: none;
  margin: 0;
}

[data-dropdown~='links'] {
  a {
    #{actions.$link} {
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: var(--half-shim) var(--shim);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    #{actions.$focus} {
      background: var(--bg);
    }
  }
}

[data-dropdown~='pad'] {
  padding: var(--shim);
}
