@use '../config/fonts';
@use '~accoutrement/sass/tools';

[data-label],
[data-input] {
  display: block;
}

[data-field] {
  display: var(--ccs-custom-display, var(--ccs-field-display, block));
  margin-bottom: var(--field-margin, var(--shim));
}

[data-label] {
  @include fonts.var('italic');
}

[data-input] {
  --input-bg: var(--bg);
  --input-border: var(--border);
  --input-color: var(--border);
  background-color: var(--input-bg);
  border: thin solid var(--input-border);
  color: var(--input-color);
  font: inherit;
  letter-spacing: inherit;
}

[data-input~='text'] {
  border-radius: var(--radius) 0;
  padding: var(--field-padding, var(--half-shim));
  width: var(--field-width, 100%);

  &:focus {
    --input-bg: var(--bg);
    --input-border: var(--ccs-accent);
    --input-color: var(--ccs-prime--fg3);
  }
}

textarea {
  min-height: calc(6em + 4vw);
  resize: vertical;
  width: 100%;
}

select {
  font: inherit;
  font-size: var(--xsmall);
  width: 100%;
}

::placeholder {
  @include fonts.var('italic');
}

.form-actions {
  margin-top: var(--newline);
}

[data-honey] {
  display: none;
}
