$_code-color-fade: var(--text-light);

@use 'pkg:accoutrement/sass/tools';
@use '../vendor/prism' with (
  // generic stuff
  $code-font-family: tools.font-family('recursive-mono'),
  $code-font-size: inherit,
  $code-line-height: inherit,

  $code-tab-size: 2,

  $code-block-padding: 0,
  $code-inline-padding: 0,
  $code-border-radius: 0,

  $code-border: null,
  $code-color: var(--text),
  $code-color-fade: $_code-color-fade,
  $code-text-shadow: var(--text-shadow),
  $code-box-shadow: none,

  // prism tokens
  $code-color-comment: $_code-color-fade,
  $code-color-keyword: var(--highlight),
  $code-color-value: var(--highlight-prime),
  $code-color-string: var(--highlight-prime),
  $code-color-name: var(--highlight-prime),
  $code-color-number: var(--highlight-prime),
  $code-color-variable: var(--highlight),
  $code-color-selector: var(--highlight-special),
  $code-color-punctuation: $_code-color-fade,
);
