@use '../config/patterns';
@use '../config/fonts';
@use '~accoutrement/sass/tools';

strong,
em {
  @include patterns.fancy-text;
}

strong {
  @include fonts.var('bold');
}

em {
  @include fonts.var('italic');
}

blockquote {
  @include fonts.var('italic' 'fun');
  font-size: var(--medium);
  position: relative;
  margin-block-start: var(--quote-space-left, revert);
  max-width: 46ch;

  @include tools.before('"') {
    @include patterns.fancy-text;
    @include fonts.var('extra');
    margin-right: var(--shim);
    position: absolute;
    right: 100%;
  }

  strong {
    @include fonts.var('normal');
    @include patterns.fancy-highlight;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .cite {
    @include patterns.fancy-text;
    @include fonts.var('body');
    font-size: var(--small);
    padding-right: 0.2ch;
  }
}

pre,
code,
tt {
  @include tools.font-family('mono');

  @supports (font-variation-settings: normal) {
    @include tools.font-family('recursive');
    @include fonts.var('code');
  }
}

code,
code[class*='language-'] {
  font-size: var(--code);
}

mark {
  background: var(--callout);
  color: var(--text);
}

[data-bright] {
  @include patterns.fancy-text;
}

s,
strike,
del {
  text-decoration-color: var(--strikeout);
  text-decoration-thickness: 0.125em;
}

time {
  @include fonts.var('light' 'code');
}
