
.rad {
  border: medium solid;
  font-size: calc(1.5em + 6vw);
  line-height: 1;
  margin: 0 auto;
  max-width: 3.125em;
  padding: 0.25em 0.5em;
  width: min-content;
}

.rad [contenteditable] {
  color: maroon;
  display: block;
  font-weight: normal;
}

.rad [contenteditable]:focus {
  text-decoration: underline;
  outline: 0;
}
