@use '~accoutrement/sass/tools';

[role='banner'] {
  @include tools.z-index('banner');
  background: var(--overlay);
  display: grid;
  font-size: var(--xsmall);
  grid-gap: var(--gutter);
  grid-template: 'bread links' auto / 1fr auto;
  padding: var(--half-shim) var(--gutter);
}

[data-nav='external'] {
  --newline: 0;
  --list-padding: 0;

  li {
    display: inline-block;
  }

  li:not(:last-child)::after {
    content: ' | ';
  }

  @include tools.below('wide-page') {
    display: none;
  }
}
