html {
  min-height: 100vh;
  overflow-y: auto;
  scroll-snap-type: block;
}

body {
  display: grid;
  grid-template: 'banner' auto 'main' 1fr 'footer' auto / 100vw;
}

[role='banner'] {
  background: var(--overlay);
  display: grid;
  font-size: var(--xsmall);
  grid-area: banner;
  grid-template: 'bread links' auto / 1fr auto;
  padding: var(--half-shim) var(--gutter);
  position: sticky;
  scroll-snap-align: start;
  top: 0;
  z-index: var(--banner, 10);
}

[data-nav='external'] {
  --newline: 0;
  --list-padding: 0;

  li {
    display: inline-block;
  }

  li:not(:last-child)::after {
    content: ' | ';
  }
}

main {
  grid-area: main;
}

.home {
  padding: 0 var(--gutter);
  margin: 0 auto;
  max-width: var(--page);
}

[role='contentinfo'] {
  grid-area: footer;
}
