@use '~accoutrement/sass/tools';
@use '../config/fonts';
@use 'sass:math';

[data-body='slides'] {
  scroll-snap-align: start;
}

[data-slides] {
  display: grid;
  grid-area: banner / main / main;
  grid-auto-rows: minmax(100vh, auto);
  grid-template-columns: minmax(min-content, 1fr);

  [data-view='grid'] & {
    grid-gap: var(--double-gutter);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(var(--page), 1fr));
    padding: var(--spacer) var(--gutter);
    place-content: safe center;
  }
}

[id^='slide'] {
  display: grid;
  grid-template: 'slide' 1fr 'script' auto / 100%;
  scroll-snap-align: start;

  [data-view='grid'] & {
    grid-template: 'slide' auto 'script' 1fr / 100%;
    scroll-margin-top: var(--double-gutter);

    &:target {
      @include tools.z-index('active');
      outline: thick dotted var(--accent);
      outline-offset: var(--shim);
    }
  }

  @media print {
    contain: layout size paint;
    height: 100vh;
    overflow: hidden;
  }
}

.slide {
  background: var(--slide-background, var(--bg));
  border-top: thin solid var(--border);
  color: var(--slide-color, var(--text));
  display: grid;
  grid-area: slide;
  grid-template: 'content' 1fr 'footer' auto / var(--width, 1fr);

  [data-view='grid'] & {
    border: thin solid var(--border);

    &::before {
      content: '';
      grid-area: content;
      grid-row-end: footer;
      height: 0;
      padding-top: math.percentage(9/18);
      width: 0;
    }
  }
}

.slide-content {
  align-content: var(--align, safe center);
  display: grid;
  grid-area: content;
  justify-content: var(--justify, safe center);
  max-width: 100%;
  overflow: auto;
  padding: var(--padding, var(--gutter));
  resize: var(--resize, none);

  img,
  svg,
  video {
    width: var(--img-width, var(--media-width, 100%));
  }

  hr {
    margin-block: var(--gutter);
  }
}

.slide-footer {
  @include tools.z-index('bump');
  align-items: center;
  background: var(--callout);
  display: flex;
  font-size: var(--xsmall);
  grid-area: footer;
  justify-content: space-between;

  [data-view='grid'] & {
    border-bottom: thin solid var(--border);
  }
}

.slide-caption,
.slide-controls {
  flex: 1;
}

.slide-controls {
  position: relative;
  margin: 0 var(--shim);

  @media print {
    visibility: hidden;
  }
}

.slide-caption {
  --newline: 0;
  padding: var(--half-shim) var(--gutter);
}

.slide-nav {
  @include fonts.var('code');
  flex: none;
  padding: var(--half-shim) var(--gutter);
  white-space: nowrap;

  [data-present='true'] & {
    opacity: var(--nav-opacity, 0.125);
  }

  &:hover,
  &:focus-within {
    --nav-opacity: 1;
  }
}

.slide-notes {
  background: var(--bg);
  display: none;
  grid-area: script;
  padding: var(--gutter) var(--gutter) 0;

  [data-view='grid'] & {
    display: block;
  }
}

@media print {
  [data-to] {
    display: none;
  }
}
