@use '~accoutrement/sass/tools';
@use '../config/fonts';
@use 'sass:math';

[data-slides] {
  display: grid;
  grid-area: banner / main / main;
  grid-auto-rows: minmax(100vh, auto);
  grid-template-columns: minmax(min-content, 1fr);

  [data-view='grid'] & {
    grid-gap: var(--double-gutter);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(var(--page), 1fr));
    padding: var(--spacer) var(--gutter);
    place-content: safe center;
  }
}

[id^='slide'] {
  background: var(--slide-background, inherit);
  color: var(--slide-color, inherit);
  border-top: thin solid var(--border);
  display: grid;
  grid-template: 'content' 1fr 'footer' auto / var(--width, 1fr);
  scroll-snap-align: start;

  [data-view='grid'] & {
    border: thin solid var(--border);
    scroll-margin-top: var(--spacer);

    &:target {
      @include tools.z-index('active');
      outline: thick dotted var(--accent);
      outline-offset: var(--shim);
    }

    &::before {
      content: '';
      grid-area: content;
      height: 0;
      padding-top: math.percentage(9/21);
      width: 0;
    }
  }
}

.slide-content {
  align-content: var(--align, safe center);
  display: grid;
  grid-area: content;
  justify-content: var(--justify, safe center);
  max-width: 100vw;
  overflow: auto;
  padding: var(--padding, var(--gutter));
  resize: var(--resize, none);

  img,
  svg,
  video {
    width: var(--img-width, var(--media-width, 100%));
  }
}

.slide-footer {
  @include tools.z-index('bump');
  align-items: center;
  background: var(--callout);
  display: flex;
  font-size: var(--xsmall);
  grid-area: footer;
  justify-content: space-between;
}

.slide-caption,
.slide-controls {
  flex: 1;
}

.slide-controls {
  position: relative;
  margin: 0 var(--shim);
}

.slide-caption {
  --newline: 0;
  padding: var(--half-shim) var(--gutter);
}

.slide-nav {
  @include fonts.var('code');
  flex: none;
  padding: var(--half-shim) var(--gutter);
  white-space: nowrap;

  [data-present='true'] & {
    display: none;
  }
}
