---
demo: normal-flow
title: Normal Flow
---

<div>
<h1>"Normal" Flow</h1>

<p>
  Defines the default
  layout system on the web –
  a <em>document-like flow</em>
  of responsive
  <code>block</code>
  and
  <code>inline</code>
  elements.
</p>

<p>
  While
  <strong>inline elements</strong>
  flow in the directon of text,
  <em>and are able to wrap around line-breaks</em> —
  <strong>block elements</strong>
  generate a solid box that
  stacks on the cross-axis.
</p>
</div>
