---
demo: pendulum-rough
---

<math dislay="block" xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle {\begin{aligned}\ell &amp;\approx {\frac {T_{0}^{2}}{4}},\\T_{0}&amp;\approx 2{\sqrt {\ell }}\end{aligned}}}">
  <semantics>
    <mrow class="MJX-TeXAtom-ORD">
      <mstyle displaystyle="true" scriptlevel="0">
        <mrow class="MJX-TeXAtom-ORD">
          <mtable columnalign="right left right left right left right left right left right left" rowspacing="3pt" columnspacing="0em 2em 0em 2em 0em 2em 0em 2em 0em 2em 0em" displaystyle="true">
            <mtr>
              <mtd>
                <mi>ℓ<!-- ℓ --></mi>
              </mtd>
              <mtd>
                <mi></mi>
                <mo>≈<!-- ≈ --></mo>
                <mrow class="MJX-TeXAtom-ORD">
                  <mfrac>
                    <msup>
                      <mi>T</mi>
                      <mrow class="MJX-TeXAtom-ORD">
                        <mn>2</mn>
                      </mrow>
                    </msup>
                    <mn>4</mn>
                  </mfrac>
                </mrow>
                <mo>,</mo>
              </mtd>
            </mtr>
            <mtr>
              <mtd>
                <mi>T</mi>
              </mtd>
              <mtd>
                <mi></mi>
                <mo>≈<!-- ≈ --></mo>
                <mn>2</mn>
                <mrow class="MJX-TeXAtom-ORD">
                  <msqrt>
                    <mi>ℓ<!-- ℓ --></mi>
                  </msqrt>
                </mrow>
              </mtd>
            </mtr>
          </mtable>
        </mrow>
      </mstyle>
    </mrow>
    <annotation encoding="application/x-tex">{\displaystyle {\begin{aligned}\ell &amp;\approx {\frac {T_{0}^{2}}{4}},\\T_{0}&amp;\approx 2{\sqrt {\ell }}\end{aligned}}}</annotation>
  </semantics>
</math>
