/* demo */
.rad {
  border: medium solid;
  font-size: 2em;
  margin: 0 auto;
  max-width: 3.5em;
  padding: 0.25em 0.5em;
}

/* editing */
.rad [contenteditable] {
  color: rebeccapurple;
  display: block;

  /* chrome uses break-word for contenteditable */
  overflow-wrap: normal;
}

.rad [contenteditable]:focus {
  text-decoration: underline;
  outline: 0;
}
