---
title: Hover Fallback
demo: fallback-hover
---

<h1>{{ title }}</h1>

<main>
  <figure>
    <img src="{{ assets.images }}demos/sea.jpg">
    <figcaption>
      <strong>The Sea</strong>
      by <em>anonymous</em>
    </figcaption>
  </figure>
  <figure>
    <img src="{{ assets.images }}demos/tower.jpg">
    <figcaption>
      <strong>France</strong>
      by <em>anonymous</em>
    </figcaption>
  </figure>
  <figure>
    <img src="{{ assets.images }}demos/plant-jar.jpg">
    <figcaption>
      <strong>Terrarium</strong>
      by <em>anonymous</em>
    </figcaption>
  </figure>
  <figure>
    <img src="{{ assets.images }}demos/eye.jpg">
    <figcaption>
      <strong>Close Up</strong>
      by <em>anonymous</em>
    </figcaption>
  </figure>
</main>
