---
title: Embedded SVG with :root styles
demo: root-embed
---

<h1>This svg is embeded in HTML</h1>

{% include "svg/miriam-root.svg" %}

<p>
  But the <code>:root</code> styles
  are applied to the <code>html</code> root,
  rather than the <code>SVG</code> root.
</p>
