---
demo: viewport-units
title: Viewport Units
---

<h1>{{ title }}</h1>

<main>
  <article>
    <h2>Project Title</h2>
    <p>
      All the main content lives in here.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Autem eius cumque, nihil nesciunt qui ea vero consequatur,
      dignissimos maxime ratione itaque amet, ab aliquid recusandae
      illo quibusdam debitis? Deserunt, saepe.
    </p>

    <img src="http://placekitten.com/1200/300" width="1200" height="300" alt="kitten">

    <p>
      All the main content lives in here.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Autem eius cumque, nihil nesciunt qui ea vero consequatur,
      dignissimos maxime ratione itaque amet, ab aliquid recusandae
      illo quibusdam debitis? Deserunt, saepe.
    </p>
  </article>
</main>

<footer>
  Copyright (c) Not Important
</footer>
