---
title: Subgrid Forms
demo: subgrid-forms
---

<h1>{{ title }}</h1>

<form action="">
  <label for="name" class="field">
    <span class="label-text">Full Name</span>
    <input type="text" id="name">
  </label>
  <label for="email" class="field">
    <span class="label-text">Email</span>
    <input type="email" id="email">
  </label>
  <label for="message" class="field">
    <span class="label-text">Longer</span>
    <textarea name="" id="message"></textarea>
  </label>
  <button>send!</button>
</form>
