/* Styles */
body {
  align-content: center;
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  grid-column: 1 / -1;
  margin: 0;
}

form {
  width: 80vw;
  max-width: 30em;
}
