html {
  background: white;
  font-family: avenir, roboto, helvetica, sans-serif;
  font-size: clamp(1em, 1em + 1.5vw, 2em);
}

body {
  padding: 1em;
  max-width: 65ch;
  margin: 0 auto;
}

header {
  margin-block-end: 1em;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

a:hover,
a:focus,
a:active {
  color: darkblue;
}

button,
input,
textarea {
  border: thin solid currentColor;
  font: inherit;
  padding: 0.125em 0.25em;
}
