html {
  background: white;
  font-family: avenir, roboto, helvetica, sans-serif;
  font-size: calc(1em + 1.5vw);
}

body {
  padding: 1em;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.25rem;
}

a:hover,
a:focus,
a:active {
  color: darkblue;
}

button,
input,
textarea {
  border: thin solid currentColor;
  font: inherit;
  padding: 0.125em 0.25em;
}
