.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  grid-column-gap: var(--double-gap);
  grid-row-gap: var(--gap);
  list-style: none;
}

.brand {
  display: grid;
  font-size: var(--size-s);
  grid-row: span 2;
  grid-template-rows: subgrid;
}

.logos a:link,
.logos a:visited {
  align-self: center;
}

.logos a:hover,
.logos a:focus,
.logos a:active {
  fill: maroon;
}

.logos a::after {
  display: none;
}
