---
title: Miriam Suzanne
banner: '[ Miriam | **Mia** ] Suzanne?'
css: demo
---

<ul class="logos">
  <li class="brand oddbird">
    {% include "logos/oddbird.svg" %}
    <a href="https://oddbird.net">OddBird</a>
  </li>
  <li class="brand mozilla">
    {% include "logos/mozilla.svg" %}
    <a href="https://youtube.com/MozillaDeveloper">Mozilla</a>
  </li>
  <li class="brand sass">
    {% include "logos/sass.svg" %}
    <a href="https://sass-lang.com/">Sass</a>
  </li>
</ul>
