@use 'pkg:accoutrement/sass/tools';
@use 'fonts';

@mixin fancy-text {
  color: var(--feature-to);

  @supports (background-clip: text) {
    --link-color: transparent;
    background: tools.color('brand-pink');
    background: var(--feature-gradient);
    background-clip: text;
    box-decoration-break: clone;
    color: transparent;
    padding-inline-start: 0;
    padding-inline-end: 0.1em;
    text-shadow: none;
    @content;
  }

  @media print {
    background: transparent;
    color: var(--feature-to);
  }
}

@mixin fancy-highlight {
  --link-color: var(--bg);
  background: var(--feature-gradient);
  color: var(--bg);
  padding-inline: 0.1em;
  text-shadow: none;
}
