html {
  /* user */
  --user-size: 1em;
  --user-weight: 60;

  /* author */
  /* --author-size: 100px; */

  /* math… */
  --author-weight: calc(100 - var(--user-weight));
  --author: calc(var(--author-size, 1em) * var(--author-weight));
  --user: calc(var(--user-size) * var(--user-weight));
  --average: calc((var(--author) + var(--user)) / 100);

  /* find the average… */
  font-size: var(--average, 1em);
}
