* {
  /* outline: 4px dotted rebeccapurple; */
}

body {
  /* font-family: cursive; */
  /* padding: 4em; */
}

h2 {
  /* outline: 4px dotted rebeccapurple; */
  /* font: inherit; */
}

.highlight {
  /* outline: 0.25em dotted rebeccapurple; */
  /* outline-offset: 0.25em; */
}

/* layout */
main {
  padding: 1em;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
}
