---
title: Cascade & Inheritance
demo: cascade-inherit
---

<h1>{{ title }}</h1>

<nav>
  <ul>
    <li><a href="#">selectors</a></li>
    <li><a href="#">inheritance</a></li>
    <li><a href="#">demo</a></li>
  </ul>
</nav>

<main>
  <section>
    <h2>Hello World</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur <a href="">adipisicing elit</a>. Atque sunt nihil ab dolorum nesciunt tempore ducimus repellat voluptas ad inventore, fugit nostrum consequuntur, adipisci.
    </p>

    <p class="highlight" style="outline-style: dashed">
      Lorem ipsum dolor, <a href="#">sit amet consectetur adipisicing elit</a>. Id reprehenderit libero sapiente cumque quaerat necessitatibus cupiditate earum exercitationem!
    </p>
  </section>
</main>

<footer>
  <a href="https://twitter.com/TerribleMia">@TerribleMia</a>
  made this example
</footer>
