.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1em;
}

.field {
  /* display: grid; */
  /* grid-column: span 2; */
  /* grid-template-columns: inherit; */
  /* grid-template-columns: subgrid; */
  /* grid-column-gap: inherit; */
}

.field {
  margin-bottom: 1em;
}

input,
textarea {
  display: block;
  border-color: currentColor;
  border-style: solid;
  font: inherit;
}

textarea {
  min-height: 8em;
}

button {
  font: inherit;
  padding: 0.25em 1em;
}
