---
layout: page
title: Smashing Online
venue: false
override:tags: []
---

<ul data-events="workshop">
  <li class="event">
    <time>May 7, 2020</time> |
    <strong>Cascading Design</strong>
    <ul>
      <li class="talk">
        <a href="no-harm/">First, Do No Harm</a>
      </li>
      <li class="talk">
        <a href="cascade/">Cascading & Inheritance</a>
      </li>
    </ul>
  </li>
  <li class="event">
    <time>May 8, 2020</time> |
    <strong>Intrinsic Layouts, Distributing Space</strong>
    <ul>
      <li class="talk">
        <a href="space/">Distributing Space</a>
      </li>
    </ul>
  </li>

  <li class="event">
    <time>May 14, 2020</time> |
    <strong>Intrinsic Layouts, Defining Structure</strong>
    <ul>
      <li class="talk">
        <a href="grids/">Defining Structure</a>
      </li>
    </ul>
  </li>
  <li class="event">
    <time>May 15, 2020</time> |
    <strong>Dynamic CSS</strong>
    <ul>
      <li class="talk">
        Custom Properties & Function
      </li>
    </ul>
  </li>

  <li class="event">
    <time>May 21, 2020</time> |
    <strong>Cascade Aligned Programming</strong>
    <ul>
      <li class="talk">
        Modern AND Resilient
      </li>
      <li class="talk">
        Naming & Organizing Conventions
      </li>
    </ul>
  </li>
  <li class="event">
    <time>May 22, 2020</time> |
    <strong>Design Systems</strong>
    <ul>
      <li class="talk">
        Sass Modules & Tools
      </li>
      <li class="talk">
        Integrated Systems & Living Documentation
      </li>
    </ul>
  </li>
</ul>
