{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro title(
  page,
  slide=none
) %}
  {% set slide = slide or {
    'index': 0,
    'controls': true,
    'script': page.data.script
  } %}
  {% call slides.base(
    slide=slide,
    name='event-title',
    page=page,
    is='header'
  ) %}
    <h1>
      {{ page.data.talk | mdInline | safe }}
      {% if page.data.sub %}
        <em>{{ page.data.sub | mdInline | safe }}</em>
      {% endif %}
    </h1>

    {% call embed.media_block(
      media=embed.svg('logos/oddbird'),
      name='title-detail'
    ) %}
      <div>
        <span class="byline h-card">
          {{ page.data.author or page.data.mia.name }}
        </span>
        @
        <strong class="event h-card">
          {{ page.data.venue | mdInline | safe }}
        </strong>
      </div>
      <time datetime="{{ page.date | getDate('iso') }}">
        {{ page.date | getDate('long') }}
      </time>
    {% endcall %}
  {% endcall %}
{% endmacro %}

{% macro end(page) %}
  {% call slides.base(
    slide={
      'index': page.data.slides | length + 1
     },
    name='closer',
    page=page,
    is='footer'
  ) %}
    {% if page.data.quote %}
      {{ embed.blockquote(
        page.data.quote.text,
        page.data.quote.cite
      ) }}
    {% endif %}

    {% call embed.media_block(
      media=embed.svg('logos/oddbird'),
      name='closer-detail'
    ) %}
      <h2>
        <span class="pre">
          @{{ page.data.twitter or page.data.mia.twitter }}
        </span>
        <strong class="byline h-card">
          {{ page.data.author or page.data.mia.name }}
        </strong>
      </h2>
    {% endcall %}
  {% endcall %}
{% endmacro %}

{% macro restart(slide, page) %}
  {{ title(page, slide) }}
{% endmacro %}

{% macro coda(slide, page) %}
  {{ end(page) }}
{% endmacro %}
