{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro start(slide, page) %}
  {% set auto = {
    'index': 0,
    'controls': true,
    'script': page.data.script,
    'is': none if slide else 'header'
  } %}
  {% set slide = auto | merge(slide or {}) %}
  {% call slides.base(
    slide=slide,
    name='event-title',
    page=page
  ) %}
    {% set url = (page.data.site.domain + page.url) | url %}

    <h1>
      {{ page.data.talk | mdInline | safe }}
      {% if page.data.sub %}
        <em>{{ page.data.sub | mdInline | safe }}</em>
      {% endif %}
    </h1>
    <p class="subtitle">
      <lean-qr value="https://{{ url }}" inline-qr></lean-qr>
      <a href="https://{{ url }}">{{ url }}</a>
    </p>

    {% call embed.media_block(
      media=embed.svg('logos/oddbird'),
      name='title-detail'
    ) %}
      <div>
        <span class="byline h-card">
          {{ page.data.author or page.data.mia.name }}
        </span>
        @
        <strong class="venue h-card">
          {{ page.data.venue | mdInline | safe }}
        </strong>
      </div>
      <time datetime="{{ page.date | getDate('iso') }}">
        {{ page.date | getDate('long') }}
      </time>
    {% endcall %}
  {% endcall %}
{% endmacro %}

{% macro end(slide, page) %}
  {% set auto = {
    'index': page.data.slides | length + 1,
    'is': none if slide else 'footer'
  } %}
  {% set slide = auto | merge(slide or {}) %}
  {% call slides.base(
    slide,
    name='closer',
    page=page
  ) %}
    {% if page.data.quote %}
      {{ embed.blockquote(
        page.data.quote.text,
        page.data.quote.cite
      ) }}
    {% endif %}

    {% call embed.media_block(
      media=embed.svg('logos/oddbird'),
      name='closer-detail'
    ) %}
      <p class="pre">
        {%- set social = page.data.mia.social -%}
        <a href="https://{{ social.server }}/@{{ social.user }}">
          @{{ social.user }}@{{ social.server }}
        </a>
      </p>
      <h2>
        <strong class="byline h-card">
          {{ page.data.author or page.data.mia.name }}
        </strong>
      </h2>
    {% endcall %}
  {% endcall %}
{% endmacro %}
