{% import "slides.macros.njk" as slides %}
{% import "slides/toc.macros.njk" as toc %}
{% import "slides/code.macros.njk" as code %}
{% import "slides/embed.macros.njk" as embed %}

{% macro default(slide, page) %}
  {% call slides.base(slide, 'default', page) %}
<pre>
{%- for key, val in slide -%}
{%- if not (key in ['page', 'index']) %}
{{ key }}: {{ val }}
{%- endif -%}
{%- endfor -%}
</pre>
  {% endcall %}
{% endmacro %}

{% macro title(slide, page) %}
  {% call slides.base(slide, 'title', page) %}
    {{ slides.title(slide) }}
  {% endcall %}
{% endmacro %}

{% macro todo(slide, page) %}
  {% set slide = slide | merge({
    'pre': 'ToDo...',
    'title': slide.todo
  }) %}
  {% call slides.base(slide, 'todo', page) %}
    {{ slides.title(slide) }}
  {% endcall %}
{% endmacro %}

{% macro md(slide, page) %}
  {% call slides.base(slide, 'markdown', page) %}
    {{ slides.title(slide) }}
    <div class="md">
      {%- set imgMark = '{{ img }}' -%}
      {%- set imgPath = page.data.assets.images -%}
      {%- set fixMd = slide.md | replace(imgMark, imgPath) if (imgMark in slide.md) else slide.md -%}
      {{- fixMd | md | safe -}}
    </div>
  {% endcall %}
{% endmacro %}

{% macro exact(slide, page) %}
  {% call slides.base(slide, 'exact', page) %}
    {{ slides.title(slide) }}
    <pre>
      {{- slide.exact | safe -}}
    </pre>
  {% endcall %}
{% endmacro %}

{% macro find(slide, page, collections) %}
  {% if slide.demo %}
    {{ embed.demo(slide, page, collections) }}
  {% elif slide.img %}
    {{ embed.img(slide, page) }}
  {% elif slide.svg %}
    {{ embed.svg(slide, page) }}
  {% elif slide.twoup %}
    {{ embed.twoup(slide, page) }}
  {% elif slide.code %}
    {{ code.block(slide, page) }}
  {% elif slide.html %}
    {{ code.html(slide, page) }}
  {% elif slide.css %}
    {{ code.css(slide, page) }}
  {% elif slide.scss %}
    {{ code.scss(slide, page) }}
  {% elif slide.exact %}
    {{ exact(slide, page) }}
  {% elif slide.quote %}
    {{ embed.quote(slide, page) }}
  {% elif slide.pen %}
    {{ embed.codepen(slide, page) }}
  {% elif slide.caniuse %}
    {{ embed.caniuse(slide, page) }}
  {% elif slide.face %}
    {{ embed.person(slide, page) }}
  {% elif slide.md %}
    {{ md(slide, page) }}
  {% elif slide.title or slide.pre %}
    {{ title(slide, page) }}
  {% elif slide.toc or slide.section %}
    {{ toc.section(slide, page) }}
  {% elif slide.todo %}
    {{ todo(slide, page) }}
  {% else %}
    {{ default(slide, page) }}
  {% endif %}
{% endmacro %}
