{% import "slides.macros.njk" as slides %}
{% import "slides/toc.macros.njk" as toc %}
{% import "slides/code.macros.njk" as code %}
{% import "embed.macros.njk" as embed %}
{% import "utility.macros.njk" as utility %}

{% macro demo(slide, page, collections) %}
  {%- set demoUrl = slide.demo if ('://' in slide.demo) else none -%}
  {%- set demoPage = false if demoUrl else collections.all | findPage('data.demo', slide.demo) -%}
  {%- set demoUrl = demoPage.url if demoPage else demoUrl -%}
  {%- set demoTitle = demoPage.data.title if demoPage else slide.title -%}
  {%- set pres %}[[permalink]({{ demoUrl }})]{% endset -%}
  {%- set caption = [slide.caption or demoTitle, pres] | join(' ') -%}
  {%- set slide = slide | merge({'caption': caption}) -%}
  {% call slides.base(slide, 'iframe demo', page) %}
    {{ embed.iframe(
      src=demoUrl,
      title=demoTitle,
      width=slide.width or 560,
      height=slide.height or 315
    ) }}
  {% endcall %}
{% endmacro %}

{% macro title(slide, page) %}
  {% call slides.base(slide, 'title', page) %}
    {{ slides.title(slide) }}
  {% endcall %}
{% endmacro %}

{% macro todo(slide, page) %}
  {% set slide = slide | merge({
    'pre': 'ToDo...',
    'title': slide.todo
  }) %}
  {% call slides.base(slide, 'todo', page, attrs={ 'data-ccs-colors': 'dark' }) %}
    {{ slides.title(slide) }}
  {% endcall %}
{% endmacro %}

{% macro img(slide, page) %}
  {% set imgStyle = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } %}
  {% set styles = slide.style | merge(imgStyle) %}
  {% set placeholder = ['https://placeimg.com/640/480/', slide.img or 'any', '?s=', slide.index] | join %}
  {% call slides.base(slide, 'img', page, styles) %}
    {{ embed.img(
      src=slide.img if ('.' in slide.img) else placeholder,
      alt=slide.alt
    ) }}
  {% endcall %}
{% endmacro %}

{% macro person(slide, page) %}
  {% set imgStyle = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } %}
  {% set styles = slide.style | merge(imgStyle) %}
  {% call slides.base(slide, 'person', page, styles, class='h-card') %}
    {{ embed.face(slide.face, slide.alt, slide.title) | safe }}
    <div class="person">
      {{ slides.title(slide, 'p-name') }}
      {% if slide.md %}
      <div class="md">
        {{ slide.md | md | safe }}
      </div>
      {% endif %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro quote(slide, page) %}
  {% set face = embed.face(slide.face, slide.alt, slide.cite) if slide.face else none %}
  {% set quote = embed.blockquote(slide.quote, slide.cite, slide.source) %}
  {% call slides.base(slide, 'quote', page) %}
    {% if face %}
      {{ embed.media_block(
        media=face,
        name='quote',
        content=quote
      ) | safe }}
    {% else %}
      {{ quote | safe }}
    {% endif %}
  {% endcall %}
{% endmacro %}

{% macro md(slide, page) %}
  {% call slides.base(slide, 'markdown', page) %}
    {{ slides.title(slide) }}
    <div class="md">
      {%- set imgMark = '{{ img }}' -%}
      {%- set imgPath = page.data.assets.images -%}
      {%- set fixMd = slide.md | replace(imgMark, imgPath) if (imgMark in slide.md) else slide.md -%}
      {{- fixMd | md | safe -}}
    </div>
  {% endcall %}
{% endmacro %}

{% macro exact(slide, page) %}
  {% call slides.base(slide, 'exact', page) %}
    {{ slides.title(slide) }}
    <pre>
      {{- slide.exact | safe -}}
    </pre>
  {% endcall %}
{% endmacro %}

{% macro pen(slide, page) %}
  {%- set pres %}[present](https://codepen.io/{{ slide.user or 'mirisuzanne' }}/pres/{{ slide.id }}?editors=1100){% endset -%}
  {%- set raw %}[debug](https://codepen.io/{{ slide.user or 'mirisuzanne' }}/debug/{{ slide.id }}){% endset -%}
  {%- set links -%}[{{ [pres, raw] | join(' | ') }}]{%- endset -%}
  {%- set caption = [slide.caption, links] | join(' ') if slide.caption else links -%}
  {%- set slide = slide | merge({'caption': caption}) -%}
  {% call slides.base(slide, 'iframe codepen', page) %}
    {{ embed.codepen(
      id=slide.id,
      title=slide.pen,
      edit=false if slide.noedit else true,
      height=slide.height or 500,
      theme=slide.theme or '39098',
      tab=slide.tab or 'result',
      preview=slide.preview
    ) }}
  {% endcall %}
{% endmacro %}

{% macro caniuse(slide, page) %}
  {%- set links -%}[[{{ slide.caniuse }} on caniuse](https://caniuse.com/#feat={{ slide.caniuse }})]{%- endset -%}
  {%- set caption = [slide.caption, links] | join(' ') if slide.caption else links -%}
  {%- set slide = slide | merge({'caption': caption}) -%}
  {% call slides.base(slide, 'img caniuse', page) %}
    {{ embed.caniuse(
      feature=slide.caniuse,
      periods=slide.periods
    ) }}
  {% endcall %}
{% endmacro %}

{% macro default(slide, page) %}
  {% call slides.base(slide, 'default', page) %}
<pre>
{%- for key, val in slide -%}
{%- if not (key in ['page', 'index']) %}
{{ key }}: {{ val }}
{%- endif -%}
{%- endfor -%}
</pre>
  {% endcall %}
{% endmacro %}

{% macro find(slide, page, collections) %}
  {% if slide.demo %}
    {{ demo(slide, page, collections) }}
  {% elif slide.img %}
    {{ img(slide, page) }}
  {% elif slide.code %}
    {{ code.block(slide, page) }}
  {% elif slide.html %}
    {{ code.html(slide, page) }}
  {% elif slide.css %}
    {{ code.css(slide, page) }}
  {% elif slide.scss %}
    {{ code.scss(slide, page) }}
  {% elif slide.exact %}
    {{ exact(slide, page) }}
  {% elif slide.quote %}
    {{ quote(slide, page) }}
  {% elif slide.pen %}
    {{ pen(slide, page) }}
  {% elif slide.caniuse %}
    {{ caniuse(slide, page) }}
  {% elif slide.face %}
    {{ person(slide, page) }}
  {% elif slide.md %}
    {{ md(slide, page) }}
  {% elif slide.title or slide.pre %}
    {{ title(slide, page) }}
  {% elif slide.toc or slide.section %}
    {{ toc.section(slide, page) }}
  {% elif slide.todo %}
    {{ todo(slide, page) }}
  {% else %}
    {{ default(slide, page) }}
  {% endif %}
{% endmacro %}
