{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro img(slide, page) %}
  {% set styles = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } %}

  {% set content %}
    {% if slide.url %}
      {{ embed.screenshot(slide.url, slide.alt, slide.type) }}
    {% else %}
      {% set placeholder = ['https://source.unsplash.com/random/800x450?', slide.img or 'any'] | join %}
      {{ embed.img(
        src=slide.img if ('.' in slide.img) else placeholder,
        alt=slide.alt
      ) }}
    {% endif %}
  {% endset %}

  {%- set slide = slide | merge({
    'caption': slide.caption or slide.title,
    'demoLinks': '[[permalink](%s)]' | replace('%s', slide.url)
  }) if slide.url else slide -%}

  {% call slides.base(slide, 'img', page, styles) %}
    {{ content | safe }}
  {% endcall %}
{% endmacro %}

{% macro svg(slide, page) %}
  {% set styles = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } %}
  {% call slides.base(slide, 'img svg', page, styles) %}
    {{ embed.svg(
      path=slide.svg,
      alt=slide.alt
    ) }}
  {% endcall %}
{% endmacro %}

{% macro video(slide, page) %}
  {% call slides.base(slide, 'video iframe', page, styles) %}
    {{ embed.iframe(
      src=slide.video,
      title=slide.title
    ) }}
  {% endcall %}
{% endmacro %}

{% macro demo(slide, page, collections) %}
  {%- set demoUrl = slide.demo if ('://' in slide.demo) else none -%}
  {%- set demoPage = false if demoUrl else collections.all | findPage('data.demo', slide.demo) -%}
  {%- set demoUrl = demoPage.url if demoPage else demoUrl -%}
  {%- set demoTitle = demoPage.data.title if demoPage else slide.title -%}
  {%- set slide = slide | merge({
    'caption': slide.caption or title or demoTitle,
    'demoLinks': '[[permalink](%s)]' | replace('%s', demoUrl)
  }) -%}
  {% set styles = {
    '--frame-zoom': slide.zoom
  } %}
  {% call slides.base(slide, 'iframe demo', page, styles) %}
    {{ embed.iframe(
      src=demoUrl,
      title=demoTitle,
      width=slide.width or 560,
      height=slide.height or 315
    ) }}
  {% endcall %}
{% endmacro %}

{% macro twoup(slide, page) %}
  {% call slides.base(slide, 'img twoup', page) %}
    {% for img in slide.twoup %}
      {% set imgStyle = {
        '--img-position': img.position,
        '--img-fit': img.fit
      } %}
      {% set placeholder = ['https://placeimg.com/640/480/', img.src or 'any', '?s=', slide.index] | join %}

      {{ embed.img(
        src=img.src if ('.' in img.src) else placeholder,
        alt=img.alt,
        attrs={'style': imgStyle}
      ) }}
    {% endfor %}
  {% endcall %}
{% endmacro %}

{% macro person(slide, page) %}
  {% set styles = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } | merge(slide.styles) %}
  {% call slides.base(slide, 'person', page, styles, class='h-card') %}
    {{ embed.face(slide.face, slide.alt, slide.title) | safe }}
    <div class="person">
      {{ slides.title(slide, 'p-name') }}
      {% if slide.md %}
      <div class="md">
        {{ slide.md | md | safe }}
      </div>
      {% endif %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro quote(slide, page) %}
  {% set styles = {
    '--img-position': slide.position,
    '--img-fit': slide.fit
  } | merge(slide.styles) if slide.face else slide.styles %}
  {% set quote = embed.blockquote(slide.quote, slide.cite, slide.source) %}
  {% set type = 'person' if slide.face else 'quote' %}
  {% call slides.base(slide, type, page, styles) %}
    {% if slide.face %}
      {{ embed.face(slide.face, slide.alt, slide.cite) }}
      <div class="person">
        {{ quote | safe }}
      </div>
    {% else %}
      {{ quote | safe }}
    {% endif %}
  {% endcall %}
{% endmacro %}

{% macro codepen(slide, page) %}
  {%- set title = slide.pen -%}

  {%- if slide.pen and not slide.id -%}
    {%- set found = page.data.pens | withData('slug', slide.pen) | first -%}
    {%- set title = found.pen or title -%}
    {%- set merge = {} | merge(found, slide) if found else none -%}
    {%- set slide = merge or slide -%}
  {%- endif -%}

  {%- set user = slide.user or 'miriamsuzanne' -%}
  {%- set print = slide.print or ['https://codepen.io/', user, '/pen/', slide.id, '/image/large.png'] | join -%}

  {%- if not ('://' in print) -%}
    {%- set printFile = slide.slug if (print == 'slug') else print -%}
    {%- set printFile = printFile if ('.' in printFile) else [printFile, '.jpg'] | join -%}
    {%- set printPath = [page.data.assets.images, 'pens/', printFile] | join if printFile else none -%}
    {%- set print = printPath or print -%}
  {%- endif -%}

  {%- set printStyle = {'--print': ['url("', print, '")'] | join('') } -%}

  {%- set pres %}<a href="https://codepen.io/{{ user }}/pres/{{ slide.id }}?editors=1100&layout=left" target="_blank">present</a>{% endset -%}
  {%- set raw %}<a href="https://codepen.io/{{ user }}/debug/{{ slide.id }}" target="_blank">debug</a>{% endset -%}
  {%- set links -%}[{{ [pres, raw] | join(', ') | safe }}]{%- endset -%}

  {% call slides.base(
    slide=slide | merge({
      'caption': (slide.caption or title),
      'demoLinks': links
    }),
    name='iframe codepen',
    page=page,
    styles=printStyle
  ) %}
    {{ embed.codepen(
      id=slide.id,
      title=title,
      edit=false if slide.noedit else true,
      height=slide.height or 500,
      theme=slide.theme or '39098',
      tab=slide.tab or 'result',
      preview=slide.preview
    ) }}
  {% endcall %}
{% endmacro %}

{% macro caniuse(slide, page) %}
  {%- set href -%}https://caniuse.com/#feat={{ slide.caniuse }}{%- endset -%}
  {%- if slide.title -%}
    {%- set title -%}[**{{ slide.title }}**]({{ href }})?{%- endset -%}
    {%- set slide = slide | merge({
      'pre': 'Can I use…',
      'title': title
    }) -%}
    {% call slides.base(slide, 'caniuse', page) %}
      {{ slides.title(slide) }}
    {% endcall %}
  {%- else -%}
    {%- set links -%}[[{{ slide.caniuse }} on caniuse]({{ href }})]{%- endset -%}
    {%- set caption = [slide.caption, links] | join(' ') if slide.caption else links -%}
    {%- set slide = slide | merge({'caption': caption}) -%}
    {% call slides.base(slide, 'img caniuse', page) %}
      <a href="{{ href }}">
        {{- embed.caniuse(
          feature=slide.caniuse,
          periods=slide.periods
        ) -}}
      </a>
    {% endcall %}
  {%- endif -%}
{% endmacro %}

{% macro support(slide, page) %}
  {% call slides.base(slide, 'caniuse', page) %}
    <browser-support data-feature="{{ slide.support }}">
      <h2 slot="title">{{ slide.title }}</h2>
      <a href="https://web-platform-dx.github.io/web-features-explorer/features/{{ slide.support }}">
        See support data on the Web Features Explorer
      </a>
    </browser-support>
  {% endcall %}
{% endmacro %}
