{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro logo(slide, page) %}
  {% call slides.base(slide, 'intro-logo', page) %}
    {{ embed.svg(['logos', slide.logo or 'oddbird'] | join('/')) }}
  {% endcall %}
{% endmacro %}

{% macro oddbird(slide, page) %}
  {%- set slide = slide | merge({
    'caption': 'Custom Web Apps & Design Systems',
    'logo': 'oddbird'
  }) -%}
  {{ logo(slide, page) }}
{% endmacro %}

{% macro oss(slide, page) %}
  {% call slides.base(slide, 'intro-oss', page) %}
    <ul class="oss-logos">
      {% for name, link in (slide.oss or page.data.oss) %}
        <li>
          <a href="{{ link }}">
            {{ embed.svg('logos/' + name, alt=name) }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endcall %}
{% endmacro %}
