{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro oddbird(slide, page) %}
  {% call slides.base(slide, 'intro-oddbird', page) %}
    {{ embed.svg('svg/oddbird') }}
    <h2>OddBird <em>Consulting</em></h2>
    <p>Custom Apps, Design Systems, Training, & Refactors</p>
  {% endcall %}
{% endmacro %}
