{% import "slides/core.macros.njk" as core %}

{% macro main(slide, page) %}
{% set slideBase %}
img: patterns/itcss-metrics.png
alt: |
  inverted triange, with
  range accross the top,
  and specificity/explicitness
  down the sides
fit: contain
background: white;
caption: |
  [**Inverted Triangle** CSS](http://technotif.com/manage-large-css-projects-with-itcss/)
  by [**Harry Roberts**](https://twitter.com/csswizardry)
{% endset %}

  {{ core.img(
    slide=slideBase | yaml | merge(slide),
    page=page
  ) }}
{% endmacro %}

{% macro layers(slide, page) %}
{% set slideBase %}
img: patterns/itcss-layers.png
alt: |
  Triangle, point down, with layers:
  settings, tools, generics, elements,
  objects, components, overrides
fit: contain
background: white
caption: |
  [**Inverted Triangle** CSS](http://technotif.com/manage-large-css-projects-with-itcss/)
  by [**Harry Roberts**](https://twitter.com/csswizardry)
{% endset %}

  {{ core.img(
    slide=slideBase | yaml | merge(slide),
    page=page
  ) }}
{% endmacro %}

{% macro flipped(slide, page) %}
{% set slideBase %}
img: patterns/un-itcss-metrics.png
alt: |
  Harry Robberts Inverted Triangle,
  but it's been flipped over,
  so now it's just a normal triangle.
fit: contain
background: white
caption: |
  ~~Inverted~~ **Normal Triangle**
  by [~~Harry Roberts~~](https://twitter.com/csswizardry) ~~Maslow~~ **Miriam**
{% endset %}
  {{ core.img(
    slide=slideBase | yaml | merge(slide),
    page=page
  ) }}
{% endmacro %}
