{% import "slides.macros.njk" as slides %}
{% import "embed.macros.njk" as embed %}

{% macro feature(slide, page) %}
  {% call slides.base(slide, 'feature', page) %}
    <header>
      <div feature-title>
        {{ slides.title(slide) }}
      </div>
      <lean-qr value="https://{{ slide.feature }}"></lean-qr>
    </header>
    <a href="https://{{ slide.feature }}" feature-link>{{ slide.feature | split('://') | last }}</a>
    <footer>
      <p feature-bird>
        {% set email = [slide.bird, 'oddbird.dev'] | join('@') %}
        <a href="mailto:{{ email }}">{{ email }}</a>
        |
        <a href="https://oddbird.dev">oddbird.dev</a>
      </p>
      {{ embed.svg('logos/oddbird') }}
    </footer>
  {% endcall %}
{% endmacro %}
