{% import "slides.macros.njk" as slides %}
{% import "utility.macros.njk" as utility %}

{% macro section(slide, page) %}
  {% call slides.base(slide, 'section', page) %}
    {{ slides.title(slide) }}
    <ol class="toc">
      {% for item in page.data.slides %}
        {% if item.section %}
          {% set current = item.section == slide.section %}
          <li {% if current %}aria-current="step"{% endif %}>
            {% if current %}
              <h2>{{ slide.section | mdInline | safe }}</h2>
            {% else %}
              {{ utility.link_if(
                item.section | mdInline | safe,
                ['#slide', loop.index] | join('-')
              ) }}
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  {% endcall %}
{% endmacro %}
